<% if notice %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success"><%= notice.html_safe %>
        <a class="close" data-dismiss="alert">&#215;</a>
      </div>
    </div>
  </div>
<% end %>